
<div class="row"> <!--Image banner -->
 <div class="col col-xs-6">
    <img src="../../../../../assets/img/no-image.png">
 </div>
</div>
<div class="row"> <!-- Event Name & Description -->
  <div class="col col-xs-6">
    <h3>{{ event.description }}</h3>
    <mat-icon>date_range</mat-icon><span>{{ event.date }}</span>
    <div><h6>{{ event.category }}</h6></div>
  </div>
 </div>
 <div class="row">
    <div class="col col-md-6">
    <p>
        Angular-Material2: Align text and md-icon vertically to match ...

        https://stackoverflow.com › questions › angular-material2-align-text-and-...
        3 answers
        Aug 28, 2017 - To align the icon and text, you can put your text inside a span and ... material icon fonts are always a little too small compared to button text.
        How to add icon to mat-icon-button	6 answers	Jan 5, 2018
        align material icon with the text	2 answers	Feb 9, 2018
        text in material icons in mat-toolbar alignment	2 answers	Mar 16, 2019
        Align material icon vertically	5 answers	Apr 12, 2017
        More results from stackoverflow.com
        Icon | Angular Material

        https://material.angular.io › components › icon
        To use a ligature icon, put its text in the content of the mat-icon component. By default, expects the Material icons font. (You will still need to include ...
        Material Icons - Vertical Align Doesn't work well alongside text ...

        https://github.com › google › material-design-icons › issues
        Sep 2, 2015 - Hi, Material icons doesn't seems to vertical align themselves when ... Angular Material components that are using mat-icon and expecting it to ...
        Material Icon Align - CodePen

    </p>
  </div>
</div>
<!--
Row 1 - Image banner for the event
Row 2 - Event Name, description, timing and other options
Row 3 - Date selection
Row 4 - Select tickets/Passes with quantity selection
Row 5 - About the event in details
Row 6 - More events from the same organizer
Row 7 - Map location (google map)
-->
