.CategoryBlock {
  text-align: center;
}
.Primary-Category {
  min-height: 150px;
  border: 5px solid #ffffff;
  padding: 30px 5px -1px 0;
  margin: 20px;
  box-shadow: 0px 2px 4px 1px #fff;
  border-radius:10px;
  /* background: #394a6d; */
  background: white;
  color:black;
}
.categoryTitle {
  font-size: 22px;
  line-height: 5rem;
  color: #fff;
  text-decoration: none;
}
.fa-10x{
  font-size: 10rem;
}
a:focus, a:hover {
  color: #8cddcd;
  text-decoration: underline;
}
/* .fa-truck:before{
  color: #fff;
} */
.Primary-Category a {
  color: #ffffff;
}
.Primary-Category a:hover {
  color: #212b5a;
}

.Primary-Category:hover {
  background: #fdb706;
  border: 5px solid #212b5a;
  box-shadow: 0px 2px 4px 1px #212b5a;
  color: black;
}

.thumbnail {
  padding: 5px;
}

.eventImg {
  width: 100%;
  overflow: hidden;
  height: 200px;
  /* background: no-repeat #f6f7f8;
  background-image: linear-gradient(to right,#f6f7f8 0,#edeef1 20%,#f6f7f8 40%,#f6f7f8 100%);
  background-image: -webkit-gradient(to right,#f6f7f8 0,#edeef1 20%,#f6f7f8 40%,#f6f7f8 100%);
  background-image: -moz-linear-gradient(to right,#f6f7f8 0,#edeef1 20%,#f6f7f8 40%,#f6f7f8 100%);
  background-image: -o-linear-gradient(to right,#f6f7f8 0,#edeef1 20%,#f6f7f8 40%,#f6f7f8 100%);
  background-size: 100%; */
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

.events {
  margin: 10px;
}
