<div class="row events">
  <!-- <div class="col col-xs-6 Primary-Category" *ngFor="let x of data" activeSection>
    <a [routerLink]="[x.navigate]">
      <div class="row text-center">
        <div class="col-xs-12">
          <i class="{{x.icon}}" aria-hidden="true"></i>
        </div>
        <div class="col-xs-12">
          <span class="categoryTitle">{{x.category}}</span>
        </div>
        <div class="col-xs-12">
          <p class="categoryDes">{{x.description}}</p>
        </div>
      </div>
    </a>
  </div> -->
    <div class="col col-xs-6 Primary-Category" *ngFor="let event of data">
      <a href="#" routerLink="/event-details/{{event.id}}">
      <div class="thumbnail">
        <div class="eventImg">
          <img src="../../../../assets/img/no-image.png" alt="...">
        </div>
        <hr/>
        <div class="caption">
          <div class="row"><h3>{{ event.category }}</h3></div>
          <div class="row"><mat-icon>date_range</mat-icon><span>{{ event.date }}</span></div>
          <div class="row"><p>{{ event.description }}</p></div>
          <hr/>
        </div>
        <div class="row">
            <div class="col float-left">
                <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="share()">
                    <mat-icon>share</mat-icon>
                  </button>
            </div>
            <div class="col float-right">
              <div class="row">
                    <mat-icon>my_location</mat-icon> <span> {{ event.location }} </span>
              </div>
               </div>
          </div>
      </div>
    </a>
    </div>
</div>
